#container-box {
    border: 2px solid black;
    display:flex;
    flex-direction: row;
    height: 250px;
    width: 480px;
    gap: 4px;
}
.box {
    border: 2px solid red;
    width:140px;
    height: 250px;
    background-color: aliceblue;
    display: flex;
   
}
.box:hover{
  cursor:pointer
}
.box:nth-child(1)
{
  background-color: blue;
  display: flex;
  flex-direction: column;
}
.box:nth-child(2)
{
  background-color: yellow;
  display: flex;
  flex-direction: row;
}
.box:nth-child(3)
{
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}
.box:nth-child(4)
{
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
}
.box:nth-child(1)>div,
.box:nth-child(3)>div{
    width: auto;
    height: 50%
}

.box:nth-child(2)>div,
.box:nth-child(4)>div{
    width: 50%;
    height: 150px;
}
img{
    height: 50%
}
